{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          This is my experimental blog page to show what I can do with the Python programming language. <br>
            This website is almost entirely built using Python but also incorporates HTML, CSS and JS, as well as PostgreSQL.
            It includes Python libraries and frameworks like Flask, Flask_Ckeditor, datetime, SQLAlchemy, Flask wtforms, smtplib, Jinja2, requests and others.</p>
          <p>
            <strong>A lit bit about myself.</strong> <br>
            My name is Maxim Nesterov, currently settled in Tokyo, Japan.
            I am junior at Temple University Japan Campus studying Computer Science and Economics.
            There is a more interacting page that tells who I am:
            <a href="https://maxnesjp.github.io/my_website/">My Personal Website</a>
        </p>
        <p>
          As for my future career, I am working hard on myself to become a <i>Full-Stack engineer</i>.<br>
          Please let me know if you have something to offer me in terms of getting career experience in stated field of Science & Technology.
        </p>
        <br>
        {% if current_user.id != 1: %}
          {{wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'})}}
        {% else: %}
          <a href="{{url_for('download')}}">My Resume</a>
        {% endif %}
      </div>

    </div>

  </div>



  <hr>

  {% include "footer.html" %}