{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<style>
  .error {
    color: red
  }
</style>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if thanks_text != None: %}
              <h1>{{thanks_text}}</h1>
              {% else: %}
                <h1>Contact Me</h1>
              <span class="subheading">Have questions? I have answers.</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if thanks_text != None: %}
          <p style="margin: auto;width: 50%;padding-bottom: 200px;">
            <a href="{{url_for('get_all_posts')}}">Go to Home Page</a>
          </p>
          {% else: %}
            <p class="error">I STILL COULD NOT FIND A SOLUTION ON HOW TO FIX THIS PAGE. <br>THIS PAGE DOES NOT WORK</p>
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            {{wtf.quick_form(form, novalidate=True, button_map={'submit': 'primary'})}}
        {% endif %}
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}